@import '../../colors.scss';

.home {

    width: 100vw;
    height: 100vh;
    padding: 40px;

    @media (max-width: 600px) {
        padding: 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-top,
    &-bottom {
        display: flex;
        justify-content: space-between;
        color: $black;
        width: 100%;
    }

    &-top {
        padding-top: 10px;
        border-top: 1px solid $black;
    }

    &-bottom {
        padding-bottom: 10px;
        border-bottom: 1px solid $black;

        &-link {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: calc(100% + 4px);
                height: calc(100% + 2px);
                bottom: -1px;
                left: -2px;
                background: $red;
                transition: transform 300ms;
                transform: scaleX(0);
                transform-origin: right;
                z-index: -1;
            }

            &:hover {
                cursor: pointer;

                &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }

    &-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 600px) {
            height: 350px
        }
    }

    &-center {
        width: 762px;

        @media (max-width: 900px) {
            width: 100%
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        color: $black;

        &-project-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 2px 15px;
            width: 100%;
            border-bottom: 2px solid $black;

            font-weight: 400;
            font-size: 24px;
            line-height: 29px;

            &-title {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: calc(100% + 4px);
                    height: calc(100% + 2px);
                    bottom: -1px;
                    left: -2px;
                    background: $red;
                    transition: transform 300ms;
                    transform: scaleX(0);
                    transform-origin: right;
                    z-index: -1;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover &-title {
                &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        &-stepper {
            display: flex;
            align-items: center;
            gap: 30px;
            font-size: 16px;

            & *:not(.arrow) {
                padding-top: 6px;
                font-weight: 500;
            }

            & .arrow {
                font-weight: 700;
                font-size: 36px;
                line-height: 24px;
                transition: all 100ms ease;

                &:hover {
                    cursor: pointer;
                    color: $red;
                    transform: scaleX(1.15);
                }
            }
        }
    }

}

.about {
    width: 0vw;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #0d0d0d;

    transition: width 500ms;
    transform-origin: left;

    &.open {
        width: 100vw;
    }

    &-content {
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;

        padding: 40px;

        @media (max-width: 600px) {
            padding: 20px;
        }
    }


    &-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        max-width: 50%;

        @media (max-width: 900px) {
            max-width: 100%;
        }

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &-close {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
        }

        position: relative;
        width: fit-content;

        &::before {
            position: absolute;
            content: "";
            width: calc(100% + 4px);
            height: calc(100% + 2px);
            bottom: -1px;
            left: -2px;
            background: $red;
            transition: transform 300ms;
            transform: scaleX(0);
            transform-origin: right;
            mix-blend-mode: lighten;
        }

        &:hover {
            cursor: pointer;

            &::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

}

.contact {
    width: 0vw;
    height: 100vh;
    z-index: 50;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #0d0d0d;

    transition: width 500ms;
    transform-origin: right;

    &.open {
        width: 100vw;
    }

    &-content {
        width: 100vw;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        color: $white;


        padding: 40px;

        @media (max-width: 600px) {
            padding: 20px;
        }
    }


    &-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        max-width: 50%;
        text-align: right;

        @media (max-width: 900px) {
            max-width: 100%;
        }

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
        }

        & a {
            color: $red;
        }
    }

    &-close {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 24px;
        }

        position: relative;
        width: fit-content;

        &::before {
            position: absolute;
            content: "";
            width: calc(100% + 4px);
            height: calc(100% + 2px);
            bottom: -1px;
            left: -2px;
            background: $red;
            transition: transform 300ms;
            transform: scaleX(0);
            transform-origin: right;
            mix-blend-mode: lighten;
        }

        &:hover {
            cursor: pointer;

            &::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

}