@import '../../colors.scss';

.project {

    width: 100vw;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 190px;

    @media (max-width: 600px) {
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    display: flex;
    flex-direction: column;
    padding-top: 190px;
    align-items: center;

    &-top {
        display: flex;
        justify-content: space-between;
        color: $black;
        padding-top: 10px;
        border-top: 3px solid $black;

        &>span:first-child {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &>div:last-child {
            display: flex;
            align-items: center;
            gap: 15px;

            &>*:hover {
                cursor: pointer;
                filter: invert(.5);
            }
        }

        &-container {
            position: fixed;
            padding-left: 40px;
            padding-right: 40px;

            @media (max-width: 600px) {
                padding-left: 20px;
                padding-right: 20px;
                background-color: $white;
                padding-bottom: 15px;
            }

            top: 0;
            left: 0;
            width: 100%;
        }

        &-blur {
            height: 40px;

            @media (max-width: 600px) {
                height: 20px;
            }

            background-color: $white;
        }
    }

    &-content {
        width: 762px;

        @media (max-width: 900px) {
            width: 100%
        }

        display: flex;
        flex-direction: column;
        gap: 30px;
        color: $black;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-text {
            text-transform: uppercase;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.04em;
            color: $gray;
            text-align: center;

            @media (max-width: 600px) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-transform: uppercase;
        text-align: center;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;

        @media (max-width: 600px) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &-desc {
        font-size: 20px;
        line-height: 28px;
        color: $gray;
        letter-spacing: 0.03em;

        @media (max-width: 600px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 600px) {
            height: 350px
        }
    }
}